.video-box {
	position: relative;
	overflow: hidden;
    height: 100%;
    width: 100%;
}
.video-box iframe {
	position: absolute;
	top: 0px;
	left: 0;
	width: 0;
	height: 0; 	
	z-index: 0;
}
.video-content {
	position: relative;
	color: #fff;
	padding: 50px;
	font-size: 20px;
}
.video-content:before {
	z-index: -1;
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;	
}
.video-box .phone{
    color:#fff;
}

.iframe_video {
    position:relative;
    padding-bottom:50%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}
.iframe_video iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.plna{
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 100%;
}
.bgvideo {
	display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    z-index: 0;
    transform: translate(-50%, 0px);
}